.DS_Store
.idea
lsp/
*.log
*.jdbc
*.iml
target
*.class
*.jar
*.war
*.ear
*.rar
*.ipr
*.iws
rebel.xml
*DB
*.dat
.classpath
.project
.settings
WebContent
*.vpp~*
*.vpdm
vpproject
.vpprefdata
*dummy*.*
*dummy*/
*-soapui-project.xml
.lock
teamworkUser.xml
projectFilesBackup*
vintageStoreCreate.ddl
vintageStoreDrop.ddl
ObjectStore
PutObjectStoreDirHere
